
<h2>About</h2>
<div class="row">
  <div class="column">
    <h3>Data Sources</h3>
    <h4>Studio Ghibli API</h4>
    <p>The Ghibli API will be used as the main content for the website. Content will include films, and the people and species that inhabit them.</p>
    <p><a href="https://ghibliapi.herokuapp.com">https://ghibliapi.herokuapp.com</a></p>
    <h4>Jikan</h4>
    <p>Suggestions for other anime movies users may be interested in with their related scores from myanimelist.</p>
    <p><a href="https://jikan.moe">https://jikan.moe</a></p>
    <p>All icons found at <a href="https://www.flaticon.com/">https://www.flaticon.com/</a>.</p>
  </div>
  <div class="column">
    <img src="assets/Ghibli_ERD.jpg"  alt="erd"/>
  </div>
</div>