
<h2>About</h2>
<h3>Data Sources</h3>
<h4>Studio Ghibli API</h4>
<p>The Ghibli API will be used as the main basis for the website. Content will include films, and the people and species that inhabit them. Tables needed include Films, Characters, and Species. See ERD for detailed information.</p>
<p><a href="https://ghibliapi.herokuapp.com/"/></p>
<h4>Jikan</h4>
<p>Suggestions for other related anime movies with their related scores and myanimelist links</p>
<p><a href="https://jikan.moe" /></p>
<img src="assets/Ghibli_ERD.jpg"  alt="erd"/>