<p id="notice"><%= notice %></p>

<h2>Character Types</h2>

<table>
  <thead>
  </thead>
  <tbody>
    <% @character_types.each do |character_type| %>
      <tr>
        <td>
          <img src=<%= image_url( "species/#{character_type.name.downcase}.png") %> alt=<%=character_type.name.downcase %>>
          <%= link_to character_type.name, character_type %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
