/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "milligram";
.navigation_list {
    border-bottom: solid 1px #ccc;
    text-align: left;
}
.navigation_item {
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}

#main_title{
    font-size: 25px;
}

h1{
    font-size: 30px;
}

h3{
    font-size: 20px;
}
/* unvisited link */
a:link {
    color: #606C76;
}

/* visited link */
a:visited {
    color: #606C76;
}

/* mouse over link */
a:hover {
    color: #82C1EC;
}

/* selected link */
a:active {
    color: #473535;
}
#logo_container{
    padding: 0;
    margin: 0;
}

.description{
    display: inline;
    word-wrap: break-word;
    padding-right: 500px;
}

.list_poster{
    width: 225px;
}

.feature-box{
    border-style: wave;
    background-color: #e6deea;
    width: 200px;
}

.location-drop{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.location-image{
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}




