
<p id="notice"><%= notice %></p>

<h2>Locations</h2>


<table>
  <thead>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= link_to location.name, location %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

